__pycache__
.project
.pydevproject
.settings
/0old
/deps
/tmp
/dist
/renpy
/pygame_sdl2
renios/prototype/prebuilt/

._*
renios/base/
renios/prototype/base/
renios/prototype/prototype.xcodeproj/project.xcworkspace/
renios/prototype/prototype.xcodeproj/xcshareddata/
renios/prototype/prototype.xcodeproj/xcuserdata/
live2d
renpyweb
tmp.initial/
unpacked

old/

android-ndk-r29-linux.zip
CubismSdkForNative-4-r.6.2.zip
iPhoneOS14.0.sdk.tar.gz
iPhoneSimulator14.0.sdk.tar.gz
llvm-mingw-*
MacOSX10.10.sdk.tar.bz2
MacOSX12.3.sdk.tar.bz2
steamworks_sdk_*.zip
android-ndk-r27c-linux.zip
MacOSX12.3.sdk.tar.xz

_20260217170131
.fuse_*
renpy-ios-runtime/
